$orange: #d87d4a;
$light-orange: #fbaf85;
$dark-gray: #191919;
$semi-dark-gray: #4c4c4c;
$black: #000000;
$transparent-black: hsla(0, 0%, 0%, 0.5);
$white: #ffffff;
$light-gray: #f1f1f1;
$semi-light-gray: #e1e1e1;
$input-border-gray-transparent: rgba(133, 133, 133, 0.5);
$red: red;
$input-gray: hsla(0, 0%, 0%, 0.5);
$input-border-gray: hsla(0, 0%, 0%, 0.25);
